/* BLOCKS */
.border-box {
    background-color: #001b4855;
    border: 5px solid #02457a;
    padding: 1em;
    margin: 2em;
}

.btn {
    font-family: "Roboto Mono", monospace;
    background: none;
    border: 2px solid #02457a;
    color: #018abe;
    border-radius: 10px 5px;
    transition: 0.5s;
    margin: 0.5em;
    padding: 0.25em;
}

.btn:hover {
    cursor: pointer;
    background-color: #018abe;
    color: #001021;
}

.bullet-list {
    list-style: none;
    font-family: "Roboto Mono", monospace;
    padding: 0;
}

.content-container {
    padding: 1em;
    margin: 2em;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.footer {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.4);
    padding: 0.5em 0 0.5em 0;
}

.header {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #001021;
}

.heading {
    font-family: "Nunito", sans-serif;
    color: #97cadb;
}

.home {
    height: 100vh;
    text-align: center;
}

.icon-box {
    display: flex;
    margin: 1em 0 1em 0;
}

.line-break {
    border: 1px solid #001b48;
}

.link {
    text-decoration: none;
    color: #018abe;
}

.main {
    padding: 0 25em 0 25em;
}

.nav {
    color: #02457a;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    padding: 1em 0 1em 0;
}