/* MODIFIERS */
.btn_center {
    text-align: center;
}

.btn_big {
    font-size: 2rem;
}

.flex-container_cross-align {
    align-items: center;
}

.flex-container_columns {
    flex-direction: column;
}

.heading_centered {
    text-align: center;
}

.heading_big {
    font-size: 2rem;
    margin-bottom: 0;
}

.heading_huge {
    font-size: 4rem;
}

.heading_medium {
    font-size: 1.5rem;
}

.heading_small {
    font-size: 1.17rem;
}

.border-box_left {
    border-radius: 50px 20px;
}

.border-box_middle {
    border-radius: 20px;
}

.border-box_right {
    border-radius: 20px 50px;
}